image: Visual Studio 2019

environment:
  NODEJS_VERSION: "14"
  AWS_REGION: eu-west-1
  AWS_USER_WITH_PERMISSIONS_ACCESS_KEY_ID:
    secure: Uik9tC1iBQQhnuKKnI2tCrSa/wpbFkESCACsScrkRVA=
  AWS_USER_WITH_PERMISSIONS_SECRET_ACCESS_KEY:
    secure: 1XujlUnim3e1NezoNnZwL9UP9+OMiama/hHtygjwgfGR64ACkdGIaI3L+xEktMtc
  AWS_USER_WITHOUT_PERMISSIONS_ACCESS_KEY_ID:
    secure: E0OC2RYBaTPkfSGrLxTOuyNNkvu5sh6REYzaJzFlsoY=
  AWS_USER_WITHOUT_PERMISSIONS_SECRET_ACCESS_KEY:
    secure: CakQHLZJeDwSzYD00AYZ1p8b3oByegF+hfXNoQfhprYij0HRTVk+Og5pkf8Z7De2
  AWS_ROLE_ARN:
    secure: CVjaIRrwBKMLa+ZIqgA4E+IiYq5h16hz1UEvPGs0ZMizXZUYbb1km3rvJ8SIlxE1EXLeeD+oxKHszpaalDarUg==
  AWS_API_GATEWAY_URL:
    secure: Z+vOna9KGyaWi5k/U5ab36OfevgxyzvsKQLHEreflf7IfqAEETxl0mMVQRkPPzxgPY5n/uZi49JVXuezT9ofrA==
  AWS_S3_BUCKET_NAME:
    secure: 16d1j1uMCzq81pv5W2QQsGBUtu1Hou48y+Mfcfk8jGbBPVHRToKBjVZZussk3yZ9
  AWS_S3_BUCKET_URL:
    secure: lvefZ1hszL1/6CpAqHdHniRnLQ1zuNeTJnGSkvVZV/r9KJdh6t+GjVPlS8iAgraKG2WicZ1OOi2D38nenkkWW2Eh8V0vxx9XIaUO0oQguGk=
  CODECOV_TOKEN:
    secure: qzGgvFnseXRU4WdzFJUHKSLk84TcURa3dF8ynmrtqbvy/2tJXn9giNHUJBVNcFzy

install:
  - ps: Install-Product node $env:NODEJS_VERSION

build_script:
  - ps: ./build/build.ps1

test: off

artifacts:
  - path: artifacts/*.*nupkg
    name: NuGet
    type: NuGetPackage
  - path: test/TestResults
    name: Code coverage
    type: zip

deploy:
  - provider: GitHub
    tag: ${APPVEYOR_REPO_TAG_NAME}
    release: Release ${APPVEYOR_REPO_TAG_NAME}
    description: TODO
    auth_token:
      secure: jFJL5c0XhkqkyH01r1SccqQpVdJGQ8AU0sT7Rg12f/QuO+RNa6870wyMjUWGeJZJ
    artifact: NuGet
    draft: true
    on:
      APPVEYOR_REPO_TAG: true
  - provider: NuGet
    api_key:
      secure: KizYphGjEIEKCn52/YRAd781Yc2bNjcksLEjkPtp3t8gMiYix4YfzIOyaH6Vt9yK
    symbol_server: https://www.nuget.org
    skip_symbols: false
    on:
      APPVEYOR_REPO_TAG: true
