image: Visual Studio 2022

environment:
  NODEJS_VERSION: "16"
  AWS_REGION: eu-west-1
  AWS_USER_WITH_PERMISSIONS_ACCESS_KEY_ID:
    secure: vFw/uLJUJt2p+fX3UwGUZLCZRQdc9qHBBXiD/opMGGA=
  AWS_USER_WITH_PERMISSIONS_SECRET_ACCESS_KEY:
    secure: GZ8x6ZSHrDRfIV6fvDrztXFF5fJfILXF+86hmejvODlWAYeFTiyyvP3VXwjnDp68
  AWS_USER_WITHOUT_PERMISSIONS_ACCESS_KEY_ID:
    secure: YuI9fk7pbFyZK2K8a6OEztWih2nN1d1SuSTzJ95nMvY=
  AWS_USER_WITHOUT_PERMISSIONS_SECRET_ACCESS_KEY:
    secure: 75ZKko094t9BOeMupxCuhxnUfoHvZvszESQuKXWU61HO9WKkkozFcDh8oj0FwUbJ
  AWS_ROLE_ARN:
    secure: CVjaIRrwBKMLa+ZIqgA4E+IiYq5h16hz1UEvPGs0ZMizXZUYbb1km3rvJ8SIlxE1EXLeeD+oxKHszpaalDarUg==
  AWS_API_GATEWAY_URL:
    secure: Z+vOna9KGyaWi5k/U5ab36OfevgxyzvsKQLHEreflf7IfqAEETxl0mMVQRkPPzxgPY5n/uZi49JVXuezT9ofrA==
  AWS_S3_BUCKET_NAME:
    secure: 16d1j1uMCzq81pv5W2QQsGBUtu1Hou48y+Mfcfk8jGbBPVHRToKBjVZZussk3yZ9
  AWS_S3_BUCKET_URL:
    secure: lvefZ1hszL1/6CpAqHdHniRnLQ1zuNeTJnGSkvVZV/r9KJdh6t+GjVPlS8iAgraKG2WicZ1OOi2D38nenkkWW2Eh8V0vxx9XIaUO0oQguGk=
  CODECOV_TOKEN:
    secure: qzGgvFnseXRU4WdzFJUHKSLk84TcURa3dF8ynmrtqbvy/2tJXn9giNHUJBVNcFzy

install:
  - ps: Install-Product node $env:NODEJS_VERSION

build_script:
  - ps: ./build/build.ps1

test: off

artifacts:
  - path: artifacts/*.*nupkg
    name: NuGet
    type: NuGetPackage

deploy:
  - provider: GitHub
    tag: ${APPVEYOR_REPO_TAG_NAME}
    release: Release ${APPVEYOR_REPO_TAG_NAME}
    description: TODO
    auth_token:
      secure: jFJL5c0XhkqkyH01r1SccqQpVdJGQ8AU0sT7Rg12f/QuO+RNa6870wyMjUWGeJZJ
    artifact: NuGet
    draft: true
    on:
      APPVEYOR_REPO_TAG: true
  - provider: NuGet
    api_key:
      secure: v2liJt8deRHsOu0nC/yHDjSUx2KGhzi2HiUnn4ikkVxBeIu8c3IaGzuy5f9AhlLq
    symbol_server: https://www.nuget.org
    skip_symbols: false
    on:
      APPVEYOR_REPO_TAG: true
