image: ubuntu

stack: node 10

environment:
  AWS_REGION: eu-west-1
  AWS_USER_ACCESS_KEY_ID:
    secure: pnm+FWaswoLIOt3ykO3A6FyvuSARzxrbsZDg+7itZaM=
  AWS_USER_SECRET_ACCESS_KEY:
    secure: x+Ajc49H+InLMCt5ISk5Qmx8aR6eSCplnQywpbph0gZweacIHYD40FrMNw6lx9IE
  AWS_ROLE_ACCESS_KEY_ID:
    secure: K/5vD3fMzsV+X3kDlKnbk9fRkKCyM/WgUoNIPep3xYQ=
  AWS_ROLE_SECRET_ACCESS_KEY:
    secure: csP2gYTF0PwaCxRIF3ICdxz/S/fJnfZL3uBpnzKfPochjIujbr03285G5812AadQ
  AWS_ROLE_ARN:
    secure: CVjaIRrwBKMLa+ZIqgA4E4oiK9sUOGZncU78nup5xam1Lrl0RQgOTiEqTlfonNKP
  AWS_API_GATEWAY_URL:
    secure: ukX4J8lpha/AR7ParjXb7X4Qusxx2oCiIGCvsh45VGhg8vzrMBp+0FZi7l1b/Crm
  CODECOV_TOKEN:
    secure: 8KH9Y0pwlpZODSh7oItr7AJ4u2cr/TB9ir2TckofpZJHAKtUhhWyihjPcRHf1M34

build_script:
  - ./build/build.sh

test: off

artifacts:
  - path: ./artifacts/*.nupkg
    name: NuGet

deploy:
  - provider: GitHub
    release: Release ${APPVEYOR_REPO_TAG_NAME}
    description: TODO
    auth_token:
      secure: de2wnJZf6k7NY0XriDpf9BkrQ4MR5ZfDDWMM+H/K4OK3w0GpuJAMRj5PrO6tKu0K
    artifact: /.*\.nupkg/
    draft: true
    on:
      APPVEYOR_REPO_TAG: true
  - provider: NuGet
    api_key:
      secure: uahkVS8ro53iDcbd2Hie8ofpUYvJ6tlR+mss0vTEp5tM6zXqDkhJF4iFKeZCvepD
    skip_symbols: false
    on:
      APPVEYOR_REPO_TAG: true
